<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <style>
            a {
                text-decoration: none;
                font-size: 30px;
                word-spacing: 0 !important;
                color: #181818;
            }
            a:hover {
                color: #ffb757;
            }
            .section-block {
                word-spacing: 30px;
                margin-top: 15px;
            }
        </style>
    </head>
    <body> {% block body %} {% endblock %} </body>
</html>